@model DataObjects.StatVM

@{
    ViewBag.Title = "Details";
    HashSet<string> allaliases = ViewBag.AliasSet;
}

<div>
    <h2>@Model.Name</h2>
    <h4>StatVM</h4>
    <hr />
    <h4>Aliases:</h4>
    <div>
        <ul>
            @foreach (var stat in Model.AliasList)
            {
                <li>@stat</li>
            }
        </ul>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Name }) |
    @Html.ActionLink("Back to List", "Index")
</p>